<div class="new-book-container">
    <form [formGroup]="editBookForm" (ngSubmit)="editBook(editBookForm.value)">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title book" formControlName="titleBook">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Descripción del book" formControlName="descriptionBook">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Tags" multiple formControlName="tagsBook">
            <mat-option value="Deportes">Deportes</mat-option>
            <mat-option value="Naturaleza">Naturaleza</mat-option>
            <mat-option value="Animales">Animales</mat-option>
            <mat-option value="Paisajes">Paisajes</mat-option>
            <mat-option value="Viajes">Viajes</mat-option>
            <mat-option value="Submarino">Submarino</mat-option>
            <mat-option value="Retratos">Retratos</mat-option>  
        </mat-select>
      </mat-form-field>
      <div class="container-input-file">
        <label class="custom-file">
          <input type="file" formControlName="imageBook" (change)="handleImage($event)" />
          <mat-icon>cloud_upload</mat-icon><span>Selecionar Imagen</span>
        </label>
      </div>
      <div class="container-button">
        <input type="submit" class="mat-flat-button" value="Save" [mat-dialog-close]="true">
      </div>
    </form>
  </div>
  