<h2>{{data.message}}</h2>
<mat-dialog-content class="dialog-content">
  <div *ngIf="data.content; else showNewForm">
    <app-edit-book [book]="data.content"></app-edit-book>
  </div>

  <ng-template #showNewForm>
    <app-new-book></app-new-book>
  </ng-template>
</mat-dialog-content>
