<mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filtros"
    />
  </mat-form-field>
  <div class="container-btn-new">
    <button mat-stroked-button (click)="onNewBook()">
      <mat-icon>note_add</mat-icon>&nbsp; Nuevo Book
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="titleBook">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
      <td mat-cell *matCellDef="let element">{{ element.titleBook }}</td>
    </ng-container>

    <ng-container matColumnDef="descriptionBook">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element">{{ element.descriptionBook }}</td>
    </ng-container>
  
    <ng-container matColumnDef="tagsBook">
      <th mat-header-cell *matHeaderCellDef>Tags</th>
      <td mat-cell *matCellDef="let element">{{ element.tagsBook }}</td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="accent" (click)="onEditBook(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-stroked-button color="warn" (click)="onDeleteBook(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
  