<div class="container" *ngIf="book$ | async as book; else loading">
    <mat-card class="book-card">
      <img matCardImage class="align-center" [src]="book.imageBook" />
      <mat-card-content>
        <mat-card-title>
          {{ book.titleBook }}
        </mat-card-title>
        <p class="content">
          {{ book.descriptionBook }}
        </p>
      </mat-card-content>
    </mat-card>
</div>
<ng-template #loading>
    <div class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
  