<mat-card-header>
  <mat-card-title>
    <a [routerLink]="['/book', book.id]">
      {{ book.titleBook }}
    </a>
  </mat-card-title>
</mat-card-header>
<img matCardImage [src]="book.imageBook" />
<mat-card-content>
  <p class="content">
    {{ book.descriptionBook }}
  </p>
</mat-card-content>
<mat-divider></mat-divider>
<mat-card-actions>
  <mat-chip-list>
    <mat-chip *ngFor="let tag of book.tagsBook" [ngClass]="tag">
      {{ tag }}
    </mat-chip>
  </mat-chip-list>
</mat-card-actions>
