<div class="container" *ngIf="books$ | async as books; else loading">
    <mat-card class="book-card" *ngFor="let book of books">
      <app-book [book]="book"></app-book>
    </mat-card>
  </div>
  <ng-template #loading>
    <div class="container-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  